.cart-count {
    position: absolute;
    left: 92vw;
    top: 0.8vh;
    font-size: 0.8em;
    background: rgb(191, 194, 0);
    color: black;
    padding: 1px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 2em;
}